.banner{
     background-color : aqua;
     width:100%;
     height:200px;
     margin-bottom:50px;
}




.banner-text{

      top:150%;
      left:150%;
      position:absolute;
      transform:transform;
}